// =============================================================================
// Basic
// =============================================================================

$body-bg-color: #fff; // site background
$site-fs: 14px;
$body-txt-color: #333; //기본 텍스트 컬러

// site font size
$basic-font-size: 10px; // 사이트 기본 폰트 사이즈 (reset에 사용)

// site font-family
// $font-family: "Helvetica Neue", "Apple SD Gothic Neo", Arial, sans-serif;

$font-name: Noto Sans KR;
$font-family: Noto Sans KR, sans-serif;
$font-family-mg: 'Nanum Myeongjo', sans-serif;
$font-thin: NotoSansCJKkr-Thin; //100
$font-light: NotoSansCJKkr-Light; //300
$font-regular: NotoSansCJKkr-Regular; //400
$font-medium: NotoSansCJKkr-Medium; //500
$font-bold: NotoSansCJKkr-Bold; //700
$font-black: NotoSansCJKkr-Black; //900

// site font-family-number
$font-name-number: 'Roboto';
$font-number: 'Roboto', sans-serif;
$number-light: Roboto-Light; //300
$number-medium: Roboto-Medium; //500
$number-bold: Roboto-Bold; //700

// site background


// site letter spacing
$letter-spacing: -0.5px;

// font- weight
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

// --------------------------------------------------------
// Color Set
// --------------------------------------------------------


